# Export all names
#exportPattern(".")
exportPattern("ddClass0.1.1.r", "prodClass0.1.1.r")
# From Notes
importFrom("GA", "ga")
importFrom("R6", "R6Class")
importFrom("GGally", "print_if_interactive", "ggpairs")
importFrom("ggplot2", "ggsave")
importFrom("mvtnorm", "rmvnorm")
importFrom("deSolve", "ode", "dede")
